'.source.ferret':
  '#!/usr/bin/ferret':
    'prefix': 'frt'
    'body': '#!/usr/bin/ferret\n'
  'If...else':
    'prefix': 'ife'
    'body': 'if ${1:condition} {\n\t${2:# body...}\n} else {\n\t${3:# else...}\n}\n'
  'If...else if...else':
    'prefix': 'ifee'
    'body': 'if ${1: condition} {\n\t${2:# body...}\n} else if ${3: second_condition} {\n\t${4:# elsif...}\n} else {\n\t${5:# else...}\n}\n'
  'If – One Line':
    'prefix': 'xif'
    'body': 'if ${1:condition}:\n\t${2:expression};\n'
  'Function':
    'prefix': 'func'
    'body': 'func ${1:functionName} {\n\t${2:# body...}\n}\n'
  'Method':
    'prefix': 'meth'
    'body': 'method ${1:methodName} {\n\t${2:# body...}\n}\n'
  'Class':
    'prefix': 'class'
    'body': 'class ${1:ClassName};\n\ninit {\n\t${2:# body...}\n}\n'
  'Foreach Loop':
    'prefix': 'for'
    'body': 'for \$${2:x} in ${3:list} {\n\t${4:# body...}\n}\n'
  'If':
    'prefix': 'if'
    'body': 'if ${1:condition} {\n\t${2:# body...}\n}\n'
